*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
    img{
      width: 80px;
      height: 80px;
      vertical-align: center;
    }
    

    nav{
      display: flex;
      align-items: center;
      ul{
        display: contents;
        list-style: none;

        li{
          padding: 40px 10px;
          position: relative;
          a{
            text-decoration: none;
            color: #464646;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 13px;
            
            &:hover{
              color: #2392FA;
            }

            &:active{
              li.active::after{
                content: '';
                display: block;
                height: 4px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #2392FA;
              }
            }
            
          }
        }
      }
    }
  }
}

footer{
  background-color: black;
  color: white;
  .footer_first-section{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    .container{
      display: flex;
      justify-content: space-between;
      width: 1200px;
      margin: 0 auto;
      section{
        display: flex;
        gap: 30px;
        ul{
          list-style: none;
          text-transform: uppercase;
          h3{
              padding: 20px 0;
          }
          li{
              padding: 5px 0;
              a{
                  text-decoration: none;
                  color: #959595;
                  font-size: 12px;
              }
          }
        }
      }
      figure{
        overflow: hidden;
        img{
            margin:-90px 0;
        }
      }
    }
  }
 
 .footer_bottom{
    background-color: #303030;
    text-transform: uppercase;
    font-weight: 700;
    padding: 25px 0;
    .container{
      .sign-up{
        color: white;
        border: 2px solid #0282F9;
        padding: 15px;
        text-decoration: none;
        &:hover{
            border: 2px solid #329cff;
        }
      }
      display: flex;
      justify-content: space-between;
      .container-logo{
        display: flex;
        align-items: center;
        gap: 20px;
        a{
            text-decoration: none;
            color:#0282F9
        }
        img{
            width: max-content;
        }
      }
    }
 }
  
}


main{
  color: white;
  .jumbotron{
      background-image: url("../img/jumbotron.jpg");
      height: 400px;
      .container{
          height: 100%;
          position: relative;
          width: 1200px;
          margin: 0 auto;
          span{
              position: absolute;
              top:100%;
              left:-10px;
              transform: translateY(-50%);
              background-color: #0282F9;
              font-size: 20px;
              font-weight: 700;
              text-transform: uppercase;
              padding: 15px 25px;
          }
      }
  }
  .content{
      background-color: #1C1C1C;
      font-size: 20px;
      font-weight: 700;
      .container{
          padding:50px 0;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          width: 1200px;
          margin: 0 auto;
          .grid-item{
              overflow-wrap: break-word;
              flex-basis: calc(100%/6 - 20px);
          }
      }
  }
  
  .menu{
      background-color: #0282F9;
  
      .container{
          padding: 50px 0;
          width: 1200px;
          margin: 0 auto;
          ul{
              list-style: none;
              display: flex;
              justify-content: center;
              text-align: center;
              text-transform: uppercase;
              font-size: 13px;
              li{
                  flex-basis: 0%;
                  flex-grow: 1;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap:15px;
                  img{
                      max-width: 44px;
                      max-height: 57px;
                  }
              }
          }
      }
      
  }
}