@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Open+Sans&family=Roboto&family=Rubik:wght@300&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  margin: 0 auto;
}
header .container img {
  width: 80px;
  height: 80px;
  vertical-align: center;
}
header .container nav {
  display: flex;
  align-items: center;
}
header .container nav ul {
  display: contents;
  list-style: none;
}
header .container nav ul li {
  padding: 40px 10px;
  position: relative;
}
header .container nav ul li a {
  text-decoration: none;
  color: #464646;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
}
header .container nav ul li a:hover {
  color: #2392FA;
}
header .container nav ul li a:active li.active::after {
  content: "";
  display: block;
  height: 4px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2392FA;
}

footer {
  background-color: black;
  color: white;
}
footer .footer_first-section {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}
footer .footer_first-section .container {
  display: flex;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
}
footer .footer_first-section .container section {
  display: flex;
  gap: 30px;
}
footer .footer_first-section .container section ul {
  list-style: none;
  text-transform: uppercase;
}
footer .footer_first-section .container section ul h3 {
  padding: 20px 0;
}
footer .footer_first-section .container section ul li {
  padding: 5px 0;
}
footer .footer_first-section .container section ul li a {
  text-decoration: none;
  color: #959595;
  font-size: 12px;
}
footer .footer_first-section .container figure {
  overflow: hidden;
}
footer .footer_first-section .container figure img {
  margin: -90px 0;
}
footer .footer_bottom {
  background-color: #303030;
  text-transform: uppercase;
  font-weight: 700;
  padding: 25px 0;
}
footer .footer_bottom .container {
  display: flex;
  justify-content: space-between;
}
footer .footer_bottom .container .sign-up {
  color: white;
  border: 2px solid #0282F9;
  padding: 15px;
  text-decoration: none;
}
footer .footer_bottom .container .sign-up:hover {
  border: 2px solid #329cff;
}
footer .footer_bottom .container .container-logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .footer_bottom .container .container-logo a {
  text-decoration: none;
  color: #0282F9;
}
footer .footer_bottom .container .container-logo img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

main {
  color: white;
}
main .jumbotron {
  background-image: url("../img/jumbotron.jpg");
  height: 400px;
}
main .jumbotron .container {
  height: 100%;
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
main .jumbotron .container span {
  position: absolute;
  top: 100%;
  left: -10px;
  transform: translateY(-50%);
  background-color: #0282F9;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 25px;
}
main .content {
  background-color: #1C1C1C;
  font-size: 20px;
  font-weight: 700;
}
main .content .container {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 1200px;
  margin: 0 auto;
}
main .content .container .grid-item {
  overflow-wrap: break-word;
  flex-basis: calc(16.6666666667% - 20px);
  text-decoration: none;
  color: currentColor;
}
main .menu {
  background-color: #0282F9;
}
main .menu .container {
  padding: 50px 0;
  width: 1200px;
  margin: 0 auto;
}
main .menu .container ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}
main .menu .container ul li {
  flex-basis: 0%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
main .menu .container ul li img {
  max-width: 44px;
  max-height: 57px;
}

main .details {
  background-color: #0282F9;
}
main .details .container-detail {
  width: 1200px;
  margin: 0 auto;
}
main .details .container-detail img {
  margin-top: -250px;
  padding-bottom: 20px;
}

.menu.detail {
  background-color: lightgrey;
}

.comic-info {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.comic-info h2 {
  color: #003F5A;
  padding-bottom: 20px;
}
.comic-info p {
  color: black;
}